body {
    font-family: Arial, sans-serif;
}

.splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.content {
    display: none;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
}
