/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #0a7f1d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.plant-display {
    text-align: center;
}

.plant-display img {
    max-width: 100%;
    height: auto;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.actions button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #45a049;
}

.status-display {
    margin-top: 20px;
}

.splash {
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Ensure the splash screen is on top of everything */
}

.splash h1 {
    font-size: 34px;
    text-align: center;
    color: #333;
}

.splash h3 {
    font-size: 18px;
    text-align: center;
    color: #333;
    opacity: 0.8;
}

/* Style the dropdown container */
.dropdown {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.confirm-button {
    background-color: #ccc; /* Grayed out color */
    color: #888; /* Text color for the grayed out button */
    padding: 10px;
    border: none;
    cursor: not-allowed; /* Disable pointer events */
}

/* Change the confirm button's color and enable it when a dropdown option is selected */
#dropdown:valid ~ #confirmButton {
    background-color: #4CAF50; /* Change to desired color when active */
    color: white;
    cursor: pointer;
}

#submitMsg {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* fire effect for when disaster happens - DAniel */
/* Add these styles for the fire effect */
.fire-effect {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ff3300, #ff9900);
    opacity: 0;
    animation: fireAppear 2s forwards;
    z-index: 0; /* Ensure the fire is on top of everything */
}


#splashScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8); /* semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
}
#splashScreen button {
    margin: 5px;
    padding: 10px 20px;
}

@keyframes fireAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
